<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/waiters.css">
</head>

<body>
    <div class="container">
        <h1>Admin Page</h1><br>
        <div class="weekdays">
            <table border="1" style="border-collapse: collapse;">
                <tr>
                {{#each days}}
                    <th>{{weekdays}}</th>
                {{/each}}
                </tr>
                <tr>
                    {{#each days}}
                        <td>
                        {{#each users}}
                        <li style="list-style-type: none;">{{this}}</li>
                        {{/each}}
                        </td>
                    {{/each}}
                </tr>
            </table>
        </div>
    </div>
</body>

</html>