<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="css/waiters.css">
    </head>
    <body>
        <div class="container">
            <h1>Admin Page</h1><br>
            <div class="weekdays">
                {{#each users}}
                <input type="checkbox" name="days" value="{{id}}">
                <label>{{weekdays}}</label>
                {{/each}}
            </div>
        </div>
    </body>
</html>