<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/waiters.css">
    <title>Admin</title>
</head>
<body>

    <form action="/adminLogin/{{name}}" method="POST" class="login">
        <label for="password">Insert Secret Password:</label><br>
        <input type="text" name="adminCode"><br><br>
        <button type="submit">Log in</button>
    </form>
    
</body>
</html>