<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="css/waiters.css">
    </head>
    <body>
        <div class="container">
            <h1>Home Page</h1><br>
            <form action="/" method="POST">
                <label for="password">Insert Secret Password:</label><br>
                <input type="text" name="code"><br><br>
                <button type="submit">Log in</button>
            </form>
        </div>
    </body>
</html>