<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/waiters.css">
    <title>Admin</title>
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>

        <form action="/adminLogin" method="POST">
            <span class="error-form">
                <div class="successMessage">
                    {{messages.success}}
                </div>
                <div class="errorMessage">
                    {{messages.error}}
                </div><br>
            </span><br><br>
            <div class="user-box">
                <input type="text" name="adminName" tabindex="1" id="user">
                <label>Username</label>
            </div>

            <br><br>

            <div class="user-box">
                <input type="password" name="adminPassword" id="password">
                <label>Password</label>
            </div><br>

            <button class="adminLogin" type="submit" id="submit">Log in</button> 
        </form>
    </div>
    <script src="setTimeOutFunction.js"></script>
</body>
</html>