<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="css/waiters.css">
    </head>
    <body>
        <div class="container">
            <h1>Admin Page</h1><br>
            <label>{{users}}</label>
        </div>
    </body>
</html>