<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <div class="login-box">
        <h2>Sign up</h2>
        <form action="signInUser" method="POST">
            <span class="error-form">
                <div class="successMessage">
                    {{messages.success}}
                </div>
                <div class="errorMessage">
                    {{messages.error}}
                </div><br>
            </span><br><br>
            <div class="user-box">
                <input type="text" name="username">
                <label>Username:</label>
            </div><br>
            <button class="submitbtn" type="submit">Submit</button>
        </form> 
        <button class="loginbtn"><a href="/logIn" style="text-decoration: none;">Log in</a></button>
    </div>   
    <script src="setTimeOutFunction.js"></script>
</body>
</html>