h1{
    text-align: center;
}
.form {
    display: flex;
    margin-left: 30%;
}

.btn {
    margin-top: 1%;
    margin-left: 37%;
}
.weekdays {
    display: flex;
    justify-content:flex-start;
    padding: 2%;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container3 {
    margin: auto;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
}

.successMessage {
    color: rgb(59, 219, 10);
}
.errorMessage{
    color: rgba(228, 4, 4, 0.877);
}

table {
    width: 80%;
}

th, tr{
    padding: 10px
}

.adminContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.adminForm {
    width: 400px;
    
}

select{
    display: flex;
    text-align: center;
    align-items: center;
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    border: 5px;
}

button{
    width: 150px;
    margin: 10px 0;
    cursor:pointer;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    transition: .1s ease;
}

button:hover{
    background-color: #1E1E1E;
    color: white;
}

.adminLogin{
    width: 180px;
    margin: 10px 0;
    cursor:pointer;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    transition: .1s ease;
}

.adminLogin:hover{
    background-color: #1E1E1E;
    color: white;
}

.waiterLogin{
    width: 180px;
    margin: 10px 0;
    cursor:pointer;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    transition: .1s ease;
}

.waiterLogin:hover{
    background-color: #1E1E1E;
    color: white;
}

.submitbtn {
    width: 60px;
    margin: 10px 0;
    cursor:pointer;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    transition: .1s ease;
}

.submitbtn:hover{
    background-color: #1E1E1E;
    color: white;
}

.loginbtn {
    width: 60px;
    margin: 10px 0;
    cursor:pointer;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    transition: .1s ease;
}

.loginbtn:hover{
    background-color: #1E1E1E;
    color: white;
}

/* ------------------------------------------------------------------- */
html{
    height: 100%;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background-color: #807a7a;
    box-sizing: border-box;
    box-sizing: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #1E1E1E;
    pointer-events: none;
}
.login-box h2::first-letter{
    font-size: 25px;
    color: #03e9f4;
}
.login-box .user-box{
    position: relative;
}
.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #1E1E1E;
    pointer-events: none;
    transition: 0.5s;
}
.login-box .user-box input:focus ~ label, .login-box .user-box input:valid ~ label{
    top: -25px;
    left: 0;
    color: black;
    font-size: 12px;
}
.login-box .user-box input:valid{
    background-color: transparent;
    border: transparent;
    border-bottom: 2px solid rgba(37, 34, 34, 0.8);
    border-radius: 2px;
}
.login-box form a{
    position: relative;
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
}
.login-box form a:hover{
    background-color: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
}
.login-box .user-box:nth-child(4){
    margin-bottom: 10px;
}

.loginbtn {
    transform: 
    translateX(125px)
    translateY(-46px);
}

/* Responsividade*/
@media (max-width: 400px)
{
  .login-box{
    width: 350px;
  }
}

.over {
    background-color: rgb(202, 10, 10);
    
    background-color: rgba(228, 119, 68, 0.342);
    
    color: rgb(75, 60, 12);
    
    padding: 10px;
}

.enough {

    background-color: rgb(226, 201, 61);
    
    background-color: rgba(245, 221, 9, 0.342);
    
    color: rgb(75, 60, 12);
    
    padding: 10px;
    
    }

.under {
    background-color: rgb(22, 112, 10);
    
    background-color: rgba(53, 230, 8, 0.342);
    
    color: rgb(75, 60, 12);
    
    padding: 10px
}