h1{
    text-align: center;
}

.days {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 60px;
}

.btn {
    margin-top: 50px;
    /* margin-left: 20%; */
}
.weekdays {
    display: flex;
    justify-content:flex-start;
    padding: 2%;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container3 {
    margin: auto;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
}

.successMessage {
    color: #03e9f4;
}
.errorMessage{
    color: rgba(228, 4, 4, 0.877);
}

table {
    width: 80%;
}

th, tr{
    padding: 10px
}

.adminContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.adminForm {
    width: 400px;
    
}

select{
    display: flex;
    text-align: center;
    align-items: center;
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    border: 5px;
}

button{
    width: 150px;
    margin: 10px 0;
    cursor:pointer;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    transition: .1s ease;
}

button:hover{
    background-color: #1E1E1E;
    color: white;
}

.adminLogin{
    width: 180px;
    margin: 10px 0;
    cursor:pointer;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    transition: .1s ease;
}

.adminLogin:hover{
    background-color: #1E1E1E;
    color: white;
}

.waiterLogin{
    width: 180px;
    margin: 10px 0;
    cursor:pointer;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    transition: .1s ease;
}

.waiterLogin:hover{
    background-color: #1E1E1E;
    color: white;
}

.submitbtn {
    width: 60px;
    margin-left: -125px;
    cursor:pointer;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    transition: .1s ease;
}

.submitbtn:hover{
    background-color: #1E1E1E;
    color: white;
}

.loginbtn {
    width: 60px;
    margin: 10px 0;
    cursor:pointer;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    transition: .1s ease;
}

.loginbtn:hover{
    background-color: #1E1E1E;
    color: white;
}

/* ------------------------------------------------------------------- */
html{
    height: 100%;
    font-family: sans-serif;
    margin: 0 auto; text-align: center;
}

div label input {margin-right: 100px;}

.cat{
  margin: 4px;
  border-radius: 4px;
  border: 1px solid #fff;
  overflow: hidden;
  float: left;
}

.cat label {
  float: left; line-height: 3.0em;
  width: 8.0em; height: 3.0em;
}

.cat label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.cat label input + span{color: #fff;}


/* This will declare how a selected input will look giving generic properties */
.cat input:checked + span {
    color: #ffffff;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}


/*
This following statements selects each category individually that contains an input element that is a checkbox and is checked (or selected) and chabges the background color of the span element.
*/

.action input:checked + span{background-color: #D9D65D;}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background-color: rgba(99, 93, 83, 0.548);
    box-sizing: border-box;
    box-sizing: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #1E1E1E;
    pointer-events: none;
}
.login-box h2::first-letter{
    font-size: 25px;
    color: #03e9f4;
}
.login-box .user-box{
    position: relative;
}
.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #1E1E1E;
    pointer-events: none;
    transition: 0.5s;
}
.login-box .user-box input:focus ~ label, .login-box .user-box input:valid ~ label{
    top: -25px;
    left: 0;
    color: black;
    font-size: 12px;
}
.login-box .user-box input:valid{
    background-color: transparent;
    border: transparent;
    border-bottom: 2px solid rgba(37, 34, 34, 0.8);
    border-radius: 2px;
}
.login-box form a{
    position: relative;
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
}
.login-box form a:hover{
    background-color: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
}
.login-box .user-box:nth-child(4){
    margin-bottom: 10px;
}

.loginbtn {
    transform: 
    translateX(62px)
    translateY(-46px);
}

/* Responsividade*/
@media (max-width: 400px)
{
  .login-box{
    width: 350px;
  }
}

.over {
    background-color: rgb(202, 10, 10);
    
    background-color: rgba(228, 119, 68, 0.342);
    
    color: rgb(75, 60, 12);
    
    padding: 10px;
}

.enough {

    background-color: rgb(226, 201, 61);
    
    background-color: rgba(245, 221, 9, 0.342);
    
    color: rgb(75, 60, 12);
    
    padding: 10px;
    
    }

.under {
    background-color: rgb(22, 112, 10);
    
    background-color: rgba(53, 230, 8, 0.342);
    
    color: rgb(75, 60, 12);
    
    padding: 10px
}






root {

    --font: slategrey;
    --background: wheat;
    --menuColor: slategrey;
}



body {
    width: auto;
    background-image: url('https://images.unsplash.com/photo-1606625736768-f521ab7e23fb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=jeswin-thomas-PtfRiBumfQU-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: wheat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* nav bar styling */

.navBar {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    display: inline-block;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.541);
}

.navBar a {
    text-decoration: none;
    color: white;
}

img {
    margin: 10px;
}

i {
    font-size: 20px;
}

i:hover,
a:hover {
    color: dodgerblue;
    cursor: pointer;
}

.navBar nav li {
    padding: 10px;
    margin: 20px;
    list-style-type: none;
    display: inline-block;
}


#hamMenu {
    visibility: hidden;
}

/*  grid system for the webpage */

.header {
    width: 80%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 5%;
    display: grid;
    grid-template-rows: 1fr;
}

.header>div {
    margin-top: 10%;
    max-width: 100%;

}

.IntroMsg {
    margin: 20px;
    position: relative;
    width: 100%;
    left: 5%;
    top: -20%;
    text-align: center;
    padding: 10px;
    height: auto;
    opacity: 0.9;
    background-color: transparent;
    border-radius: 10px;

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* for image seperation */


.story {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.imgContainer {
    width: 90%;
    height: fit-content;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;


}

.imgContainer>div {
    margin: 10px;
}

.menuIntro>img {
    width: 75%;
    border-radius: 10%;
    height: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    filter: blur(0.5px);
}

.menuIntro {
    text-align: center;
    color: rgb(39, 39, 39);
    border-radius: 10px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 100%;
    left: 0%;
    text-align: center;
    padding: 20px;
    opacity: 0.9;
    background-color: rgba(100, 98, 98, 0.288);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media only screen and (max-width: 600px) {

    .menu,
    .form {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        position: relative;
        top: -5%;

    }

    .logo {
        width: 200px;
        height: 200px;
    }

    html {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h2,
    h1 {
        font-size: 18px;
    }

    .navBar,
    .navBar nav li {
        width: 100%;
        height: 100%;
        display: block;
    }  

    #hamMenu {
        visibility: visible;
        color: white;
        font-size: 25px;    
        z-index: -1;
    }

}


.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    width: 100%;
    left: 0%;
    top: 40px;
    text-align: center;
    padding: 20px;
    opacity: 0.9;
    background-color: rgba(100, 98, 98, 0.288);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    opacity: 0.9;
    margin: 10px;

}

.form span {
    margin: 10px;
}

.form button {
    width: 60%;
    position: relative;
    left: 2%;
    margin: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    text-shadow: 0.5px 0.5px black;
    background-color: rgb(109, 103, 93);
    padding: 10px;
}

.form button:hover {
    cursor: pointer;
    box-shadow: 0px 3px 6px slategray;
}

.form button:active {
    background-color: rgba(30, 96, 161, 0.801);
    border: none;
}

#home-menu ul {
    background-color: white;
    border-radius: 5px;
    list-style: none;
    padding: 30px;
}

#home-menu h2 {
    text-shadow: 0.5px 0.5px black;
}

#home-menu ul:after {
    content: "";
    clear: both;
    display: block;
}

#home-menu li {
    float: left;
    width: 50%;
    padding: 0;
    margin: 20px 0 20px 8%;
    border-bottom: 1px solid slategray;
}
.dish {
    float: left;
    color: #555;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding-right: 15px;
}

.Price {
    float: right;
    color: #555;
    font-weight: bold;
    position: relative;
    background-color: transparent;
    padding-left: 15px;
}

.Description {
    clear: both;
    display: block;
    color: #999;
    font-style: italic;
    font-size: 14px;
    padding-top: 10px;
    position: relative;
    top: -8px;
}


.logo {
    animation: windowsFly ease-out 3s;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 4px rgb(255, 255, 255), 0.3em 0.3em 4em rgba(0, 0, 0, 0.3);
}

.color {
    color: #cbeeeb;
}

/*  image animation for resturant*/

@keyframes windowsFly {
    0% {
        filter: blur(10px);
        opacity: 0;
        width: 0px;

    }

    50% {
        filter: blur(5px);
        opacity: 0.5;
        width: 50%;
    }

    100% {
        opacity: 1;
    }
}




div > .danger {
    margin-bottom: 15px;
    padding: 4px 12px;
    width: 300px;
}

div > .success {
    margin-bottom: 15px;
    padding: 4px 12px;
    width: 300px;
}

div > .warning {
    margin-bottom: 15px;
    padding: 4px 12px;
    width: 300px;
}
  
.danger {
    background-color: rgb(202, 10, 10);
    
    background-color: rgba(228, 119, 68, 0.342);
    
    color: rgb(248, 247, 245);

    border-left: 6px solid #f44336;
}
  
.success {
    background-color: rgb(22, 112, 10);
    
    background-color: rgba(53, 230, 8, 0.342);
    
    color: rgb(239, 243, 239);

    border-left: 6px solid #04AA6D;
}
  
  
  
.warning {
    background-color: rgb(226, 201, 61);
    
    background-color: rgba(245, 221, 9, 0.342);
    
    color: rgb(250, 249, 246);
    
    border-left: 6px solid #ffeb3b;
}

.coloSpin {
    display: flex;
    justify-content: space-around;
}