h1{
    text-align: center;
}
.form {
    display: flex;
    margin-left: 30%;
}

.btn {
    margin-top: 1%;
    margin-left: 65%;
}
.weekdays {
    display: flex;
    justify-content:flex-start;
    padding: 2%;
}

